!!! XML
!!!
%html
	%script{:type => "text/javascript",
		:src  => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
	%link(rel= 'stylesheet' type='text/css' href='/stylesheets/style.css')
	%link(rel= 'stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Buenard:400,700')
	%link(rel= "stylesheet" type ="text/css" href="/ui/css/smoothness/jquery-ui-1.8.24.custom.css")
	%script{:type => "text/javascript", :src  => "/ui/js/jquery-ui-1.8.24.custom.min.js"}
	%head
		%title Countdown
	%body
		#content
			= yield