%h1
	Create a new countown:

/ .countdown_form
/ 	%form{ action: 'countdown', method: 'POST'}
/ 		%fieldset
/ 			%li
/ 		    	%label{:for => "name"} Name:
/ 			    %input{:type => "text", :name => "name", :class => "text"}
/ 		  	%li
/ 			    %label{:for => "mail"} email:
/ 			    %input{:type => "text", :name => "mail", :class => "text"}