#content
{
	width: 600px;
	margin: auto;
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 100px;
	padding: 5px 10px;
	text-align: center;
	box-shadow: 0px -2px #333, 0px -3px #222, 0px 3px lightgray;
	text-shadow: 0px -3px #111, 0px -2px #222;
	background-image: url("/images/low_contrast_linen.png");
}

.remainder
{
	margin: auto;
}

td .time
{
	text-align: right;
}

.remainder td
{
	padding: 5px 3px;
	width: 60px;
	text-align: left;
	vertical-align: bottom;
}

#countdown-div
{
	margin: 0;
	padding: 10px;
	margin-top: 0;
	margin: auto;
}

.countdown-table, .countdown-table input
{
	text-align: center;
	font-size: 40px;
	margin: auto;
}

.countdown-table td
{
	padding: 5px;

}

.countdown-table input
{
	height: 40px;
	width: 40px;
	border-radius: 10px;
	padding-bottom: 10px;
	font-family: 'Buenard', serif;
}

.default-field
{
	color: Gray;
}

.error
{
	color: red;
	font-weight: bold;
}

#date-field
{
	width: 270px;
}

#description-field
{
	width: 100%;
}

.remainder .time
{
	font-weight: bold;
	text-align: right;
}

.time
{
	font-size: 25px;
}

.header
{
	text-align: center;
}

#submit
{
	font-size: 20px;
	font-family: 'Buenard', serif;
}

body
{
	font-family: 'Buenard', serif;
	font-size: 20px;
	margin: 0;
	text-align: center;
	background-image: url("/images/paven.png");
	color: #CCC;
}